footer {
  padding: var(--spacing-md) 0;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer_copyright {
    a {
      color: var(--color-secondary);

      &:hover {
        color: var(--color-quaternary);
      }
    }
  }

  .footer_reseaux {
    color: var(--color-secondary);

    a {
      &:hover {
        color: var(--color-white);
      }
    }
    .icon {
      width: 36px;
      height: 36px;
      margin-left: var(--spacing-md);
    }
  }
}

@media only screen and (max-width: 375px) {
  footer {
    .wrapper {
      justify-content: center;
    }
    .footer_copyright {
      display: none;
    }
    .footer_reseaux {
      display: flex;
      justify-content: space-around;
      .icon {
        margin: 0 24px;
        width: 36px;
        height: 36px;
      }
    }
  }
}
