header nav {
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;

    .icon {
      height: var(--spacing-lg);
      width: var(--spacing-lg);
    }

    li {
      color: var(--color-secondary);

      a {
        font-size: var(--font-size-button);
        padding: var(--spacing-xs) var(--spacing-sm);

        &:hover {
          background: var(--color-quaternary);
          padding: var(--spacing-xs) var(--spacing-sm);

          color: var(--color-tertiary-dark);
          border-radius: 10px;
        }
      }
    }
  }
}
