header nav {
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;

    .icon {
      height: var(--spacing-lg);
      width: var(--spacing-lg);
    }

    li {
      color: var(--color-secondary);

      .hover {
        font-size: var(--font-size-button);
        padding: var(--spacing-xs) var(--spacing-sm);
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: all 150ms ease-in-out;
        border-radius: 15px;

        &::after {
          content: "";
          position: absolute;
          display: block;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 100%;
          background: var(--color-quaternary);
          z-index: -1;
          transition: width 150ms ease-in-out;
          border-radius: 15px;
        }

        &:hover {
          color: var(--color-tertiary-dark);

          &::after {
            width: 100%;
            border-radius: 15px;
          }
        }
      }
    }
  }
}

/* Tablette */

@media only screen and (max-width: 768px) {
  header nav {
    ul {
      justify-content: space-between;
      .icon {
        height: 48px;
        width: 48px;
      }
      li {
        .hover {
          font-size: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  header nav {
    ul {
      flex-direction: column;
      justify-content: space-between;

      .icon {
        height: 48px;
        width: 48px;
      }
      li {
        margin: 0 0 24px 0;

        &:nth-of-type(1) {
          order: 2;
        }
        &:nth-of-type(2) {
          order: 3;
        }
        &:nth-of-type(3) {
          order: 1;
        }
        &:nth-of-type(4) {
          order: 4;
        }
        &:nth-of-type(5) {
          order: 5;
        }
        .hover {
          font-size: 16px;
        }
      }
    }
  }
}
