header nav {
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;

    .icon {
      height: var(--spacing-lg);
      width: var(--spacing-lg);
    }

    li {
      color: var(--color-secondary);

      a {
        font-size: var(--font-size-button);
        padding: var(--spacing-xs) var(--spacing-sm);
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: all 150ms ease-in-out;
        border-radius: 15px;

        &::after {
          content: "";
          position: absolute;
          display: block;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 100%;
          background: var(--color-quaternary);
          z-index: -1;
          transition: width 150ms ease-in-out;
          border-radius: 15px;
        }

        &:hover {
          color: var(--color-tertiary-dark);

          &::after {
            width: 100%;
            border-radius: 15px;
          }
        }
      }
    }
  }
}
