/* Accueil */

.hero_accueil {
  margin: var(--spacing-xxl) 0;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .hero_media {
    position: relative;
    margin: 0 0 0 var(--spacing-lg);
    .hero_image {
      background: var(--color-tertiary-dark);
      width: 950px;
      height: 575px;
    }

    .hero_cadre {
      position: absolute;
      width: 950px;
      height: 575px;
      border: 10px solid var(--color-secondary);
      top: -8%;
      left: 5%;
      z-index: -1;
    }
  }

  .hero_content {
    h1 {
      margin: 0 0 var(--spacing-lg) 0;
    }

    .button_accueil {
      margin: 0 0 var(--spacing-lg) 0;
      a {
        color: var(--color-quaternary);
        font-family: var(--font-secondary);
        font-size: var(--font-size-h5);
        font-weight: 200;

        &:hover {
          color: var(--color-secondary);
        }
      }
    }

    hr {
      border-top: 9px solid var(--color-secondary);
      border-bottom: 1px solid var(--color-secondary);

      &.under_decouvrir {
        margin: var(--spacing-xs) 0 0 0;
        width: 50%;
      }
      &.under_projets {
        margin: var(--spacing-xs) 0 0 0;
        width: 75%;
      }
    }
  }
}

.bandeau_accueil {
  margin: 256px 0 var(--spacing-xxl) 0;
  position: relative;
  text-align: right;
  background: var(--color-tertiary-dark);
  padding: var(--spacing-xxl) 0;

  .image_bandeau {
    position: absolute;
    bottom: 0;
  }

  h2 {
    color: var(--color-secondary);
  }
}

/* Projets */

.projets_content {
  .projets_title {
    margin: var(--spacing-xxl) 0;
    hr {
      border-top: 9px solid var(--color-secondary);
      border-bottom: 1px solid var(--color-secondary);
      width: 50%;
      margin: 0;
    }

    h1 {
      margin: 0 0 var(--spacing-md) 0;
    }
  }
}

.projet_right_border {
  position: absolute;
  z-index: -2;
  bottom: -5%;
  left: 5%;
  height: 110%;
  width: 90%;
  border-bottom: 10px solid var(--color-secondary);
  border-left: 10px solid var(--color-secondary);
}

.projet_left_border {
  position: absolute;
  z-index: -2;
  bottom: -5%;
  right: 5%;
  height: 110%;
  width: 90%;
  border-bottom: 10px solid var(--color-secondary);
  border-right: 10px solid var(--color-secondary);
}

.projets_card_right {
  display: flex;
  position: relative;
  margin: 0 0 var(--spacing-xxl) 0;
  .card_left {
    background: var(--color-tertiary-dark);
    width: 35%;
    padding: var(--spacing-md) var(--spacing-sm);

    h4 {
      margin: 0 0 var(--spacing-xs) 0;
    }

    h5 {
      color: var(--color-secondary);
    }
  }

  .card_right {
    width: 65%;
    background: var(--color-quaternary-dark);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.projets_card_left {
  display: flex;
  position: relative;
  margin: 0 0 var(--spacing-xxl) 0;
  .card_left {
    width: 65%;
    background: var(--color-quaternary-dark);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card_right {
    background: var(--color-tertiary-dark);
    width: 35%;
    padding: var(--spacing-md) var(--spacing-sm);

    h4 {
      margin: 0 0 var(--spacing-xs) 0;
    }

    h5 {
      color: var(--color-secondary);
      margin: 0 0 var(--spacing-sm) 0;
    }
  }
}

.icone_programme {
  display: flex;
  margin: var(--spacing-lg) 0 0 0;
  svg {
    width: 80px;
    height: 80px;
    color: var(--color-quaternary);
    margin: 0 var(--spacing-md) 0 0;
  }
}

.button_card {
  display: flex;
  margin: var(--spacing-xxl) 0 48px 0;

  a {
    text-align: center;
    margin: 0 var(--spacing-md) 0 0;
    background: var(--color-quaternary);
    padding: var(--spacing-sm) 48px;
    border-radius: 10px;

    &:hover {
      color: var(--color-neutral-dark);
      background: var(--color-secondary);
    }
  }
}

/* A propos */

.hero_propos_content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: var(--spacing-xxl) 0 0 0;

  .hero_content {
    width: 45%;
    h1 {
      margin: 0 0 0 0;
    }
    h3 {
      color: var(--color-secondary);
    }

    p {
      color: var(--color-quaternary);
      font-size: var(--font-size-h5);
      font-family: var(--font-primary);
    }

    span {
      color: var(--color-secondary);
    }

    .icon {
      color: var(--color-secondary);
      width: 128px;
      height: 128px;
      margin: var(--spacing-xxl) 0 0 0;
    }
  }

  .hero_media {
    position: relative;
    .hero_image {
      img {
        background: var(--color-tertiary-dark);
      }
    }

    .hero_cadre {
      position: absolute;
      z-index: -2;
      border: 10px solid var(--color-secondary);
      width: 100%;
      height: 100%;
      top: -7%;
      left: 9%;
    }
  }
}

section {
  .modus {
    margin: var(--spacing-xxl) 0;
    hr {
      border-top: 9px solid var(--color-secondary);
      border-bottom: 1px solid var(--color-secondary);
      width: 35%;
      margin: 0;
    }

    p {
      font-size: var(--font-size-button);
      font-family: var(--font-secondary);
      color: var(--color-quaternary);
    }

    div {
      margin: var(--spacing-xl) 0 0 0;

      h4 {
        color: var(--color-tertiary-light);
      }
    }

    .center {
      text-align: center;
    }

    .right {
      margin: var(--spacing-lg) 0 0 0;
      text-align: right;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .icon {
        color: var(--color-secondary);
        width: 128px;
        height: 128px;
      }
    }
  }
}
