/* Accueil */

.hero_accueil {
  margin: var(--spacing-xxl) 0;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero_media {
    position: relative;
    margin: 0 0 0 var(--spacing-lg);
    .hero_image {
      background: var(--color-tertiary-dark);
      width: 1280px;
      height: 720px;

      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .hero_cadre {
      position: absolute;
      width: 1280px;
      height: 720px;
      border: 10px solid var(--color-secondary);
      top: -8%;
      left: 5%;
      z-index: -1;
    }
  }

  .hero_content {
    background-color: rgba($color: #000000, $alpha: 0.7);
    border-radius: 15px;
    padding: var(--spacing-md);
    position: absolute;
    bottom: 2%;
    left: 3%;
    h1 {
      font-size: var(--font-size-h3);
      margin: var(--spacing-xs) 0;
    }

    h2 {
      font-size: var(--font-size-h5);
      margin: 0 0 var(--spacing-lg) 0;
      color: var(--color-secondary);
    }

    .button_accueil {
      margin: 0 0 var(--spacing-md) 0;
      a {
        color: var(--color-quaternary);
        font-family: var(--font-secondary);
        font-size: 24px;
        font-weight: 200;

        &:hover {
          color: var(--color-secondary);
        }
      }
    }

    hr {
      border-top: 9px solid var(--color-secondary);
      border-bottom: 1px solid var(--color-secondary);

      &.under_decouvrir {
        margin: var(--spacing-xs) 0 0 0;
        width: 50%;
      }
      &.under_projets {
        margin: var(--spacing-xs) 0 0 0;
        width: 75%;
      }
    }
  }
}

/*Accueil Tablette */

@media only screen and (max-width: 768px) {
  .hero_accueil {
    margin: var(--spacing-xl) 0;
    .wrapper {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
    }

    .hero_media {
      margin: 0 0 var(--spacing-lg) 0;
      .hero_image {
        width: 599px;
        height: 332px;
        video {
          position: absolute;
          top: -28%;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      .hero_cadre {
        width: 599px;
        height: 332px;
        top: -5%;
      }
    }

    .hero_content {
      background-color: transparent;
      border-radius: 0;
      padding: 0;
      position: static;
      margin: var(--spacing-lg) 0 0 0;

      h1 {
        font-size: var(--font-size-h2);
        font-family: var(--font-secondary);
      }
    }
  }
}

/*Accueil - Mobile */

@media only screen and (max-width: 375px) {
  .hero_accueil {
    margin: var(--spacing-xl) 0 var(--spacing-sm) 0;

    .hero_media {
      margin: 0 0 var(--spacing-lg) 0;
      .hero_image {
        width: 328px;
        height: 181px;
        video {
          position: absolute;
          top: -35%;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      .hero_cadre {
        width: 328px;
        height: 181px;
      }
    }

    .hero_content {
      h1 {
        font-size: var(--font-size-h3);
        font-family: var(--font-secondary);
      }

      .button_accueil {
        a {
          font-size: 24px;
        }
      }
    }
  }
}

/* Projets */

.projets_content {
  .projets_title {
    margin: var(--spacing-xxl) 0;
    hr {
      border-top: 9px solid var(--color-secondary);
      border-bottom: 1px solid var(--color-secondary);
      width: 50%;
      margin: 0;
    }

    h1 {
      margin: 0 0 var(--spacing-md) 0;
    }
  }
}

.projet_right_border {
  position: absolute;
  z-index: -2;
  bottom: -5%;
  left: 5%;
  height: 110%;
  width: 90%;
  border-bottom: 10px solid var(--color-secondary);
  border-left: 10px solid var(--color-secondary);
}

.projet_left_border {
  position: absolute;
  z-index: -2;
  bottom: -5%;
  right: 5%;
  height: 110%;
  width: 90%;
  border-bottom: 10px solid var(--color-secondary);
  border-right: 10px solid var(--color-secondary);
}

.projets_card_right {
  display: flex;
  position: relative;
  margin: 0 0 var(--spacing-xxl) 0;
  .card_left {
    background: var(--color-tertiary-dark);
    width: 35%;
    padding: var(--spacing-md) var(--spacing-sm);
    border-radius: 15px 0 0 15px;

    h4 {
      margin: 0 0 var(--spacing-xs) 0;
    }

    h5 {
      color: var(--color-secondary);
    }
  }

  .card_right {
    width: 65%;
    background: var(--color-quaternary-dark);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 15px 15px 0;
  }
}

.projets_card_left {
  display: flex;
  position: relative;
  margin: 0 0 var(--spacing-xxl) 0;
  .card_left {
    width: 65%;
    background: var(--color-quaternary-dark);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
  }

  .card_right {
    background: var(--color-tertiary-dark);
    width: 35%;
    padding: var(--spacing-md) var(--spacing-sm);
    border-radius: 0 15px 15px 0;

    h4 {
      margin: 0 0 var(--spacing-xs) 0;
    }

    h5 {
      color: var(--color-secondary);
      margin: 0 0 var(--spacing-sm) 0;
    }
  }
}

.icone_programme {
  display: flex;
  margin: var(--spacing-lg) 0 0 0;
  svg {
    width: 80px;
    height: 80px;
    color: var(--color-quaternary);
    margin: 0 var(--spacing-md) 0 0;
  }
}

.button_card {
  display: flex;
  margin: var(--spacing-xxl) 0 48px 0;

  a {
    text-align: center;
    margin: 0 var(--spacing-md) 0 0;
    background: var(--color-quaternary);
    padding: var(--spacing-sm) 48px;
    overflow: hidden;
    z-index: 1;
    transition: all 300ms ease-in-out;
    border-radius: 15px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      transform: translateY(-100%);
      background: var(--color-quaternary);
      z-index: -1;
      transition: all 300ms ease-in-out;
      border-radius: 15px;
    }

    &:hover {
      color: var(--color-neutral-dark);
      background: var(--color-secondary);
      &::after {
        height: 100%;
        border-radius: 15px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .projets_content {
    .projets_title {
      margin: var(--spacing-xl) 0 var(--spacing-xxl) 0;
      hr {
        width: 80%;
      }

      h1 {
        margin: 0 0 var(--spacing-sm) 0;
        font-size: var(--font-size-h2);
      }
    }
  }

  .projets_card_right {
    flex-direction: column;

    .card_left {
      width: 100%;
      border-radius: 15px 15px 0 0;
      padding: var(--spacing-lg) var(--spacing-md);

      p {
        display: none;
      }
    }

    .card_right {
      width: 100%;
      padding: var(--spacing-lg) var(--spacing-md);
      border-radius: 0 0 15px 15px;
    }
  }

  .projets_card_left {
    display: flex;
    flex-direction: column-reverse;
    .card_left {
      width: 100%;
      padding: var(--spacing-lg) var(--spacing-md);
      border-radius: 0 0 15px 15px;
    }

    .card_right {
      width: 100%;
      padding: var(--spacing-lg) var(--spacing-md);
      border-radius: 15px 15px 0 0;
      p {
        display: none;
      }
    }
  }

  .button_card {
    display: flex;
    margin: var(--spacing-xxl) 0 0 0;
  }
}

/* Projets - Mobile */

@media only screen and (max-width: 375px) {
  .projets_content {
    .projets_title {
      margin: var(--spacing-xl) 0 var(--spacing-xl) 0;
      hr {
        width: 80%;
      }

      h1 {
        margin: 0 0 var(--spacing-sm) 0;
        font-size: var(--font-size-h3);
      }
    }
  }

  .projets_card_right {
    .card_left {
      width: 100%;
      border-radius: 15px 15px 0 0;
      padding: var(--spacing-sm) var(--spacing-sm);
      h4 {
        font-size: var(--font-size-h5);
      }
      h5 {
        font-size: 20px;
      }

      .icon {
        width: 80px;
        height: 80px;
      }
    }

    .card_right {
      width: 100%;
      padding: var(--spacing-sm) var(--spacing-xs);
      border-radius: 0 0 15px 15px;
    }
  }

  .projets_card_left {
    display: flex;
    flex-direction: column-reverse;
    .card_left {
      width: 100%;
      padding: var(--spacing-sm) var(--spacing-xs);
      border-radius: 0 0 15px 15px;
    }

    .card_right {
      width: 100%;
      padding: var(--spacing-sm) var(--spacing-sm);
      border-radius: 15px 15px 0 0;
      h4 {
        font-size: var(--font-size-h5);
      }
      h5 {
        font-size: 20px;
      }
      .icon {
        width: 80px;
        height: 80px;
      }
    }
  }

  .button_card {
    display: flex;
    flex-direction: column;
    margin: var(--spacing-xl) 0 0 0;
    a {
      margin: var(--spacing-sm) 0;
      padding: var(--spacing-xs) var(--spacing-sm);
    }
  }
}

/* A propos */

.hero_propos_content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: var(--spacing-xxl) 0 0 0;

  .hero_content {
    width: 45%;
    h1 {
      margin: 0 0 0 0;
    }
    h2 {
      color: var(--color-secondary);
      font-size: var(--font-size-h3);
    }

    p {
      color: var(--color-quaternary);
      font-size: var(--font-size-h5);
      font-family: var(--font-primary);
    }

    span {
      color: var(--color-secondary);
    }

    .icon {
      color: var(--color-secondary);
      width: 128px;
      height: 128px;
      margin: var(--spacing-xxl) 0 0 0;
    }
  }

  .hero_media {
    position: relative;
    .hero_image {
      img {
        background: var(--color-tertiary-dark);
      }
    }

    .hero_cadre {
      position: absolute;
      z-index: -2;
      border: 10px solid var(--color-secondary);
      width: 100%;
      height: 100%;
      top: -7%;
      left: 9%;
    }
  }
}

.modus {
  margin: var(--spacing-xxl) 0 256px 0;
  hr {
    border-top: 9px solid var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary);
    width: 35%;
    margin: 0;
  }

  h3 {
    font-size: var(--font-size-button);
    font-family: var(--font-secondary);
    color: var(--color-quaternary);
    margin: var(--spacing-sm) 0 0 0;
  }

  div {
    margin: var(--spacing-xl) 0 0 0;

    h4 {
      color: var(--color-tertiary-light);
    }
  }

  .center {
    text-align: center;
  }

  .right {
    margin: var(--spacing-lg) 0 0 0;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon {
      color: var(--color-secondary);
      width: 128px;
      height: 128px;
    }
  }
}

.competences {
  .cards:nth-child(2) {
    .card_competence {
      flex-direction: row;
      justify-content: space-around;
      grid-column: span 3;

      .icon {
        width: 80px;
        height: 80px;
      }
    }
  }

  .cards {
    position: relative;
    display: grid;
    gap: 48px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    margin: 0 0 180px 0;

    .card_texte {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      grid-column: span 2;
      background: var(--color-quaternary);
      padding: 80px 48px;

      p {
        font-size: var(--font-size-h5);
        font-weight: 200;
        margin: var(--spacing-xs) 0 0 0;
      }
    }

    .card_competence {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 15px;

      color: var(--color-white);
      background: var(--color-tertiary-dark);

      .icon {
        width: 128px;
        height: 128px;
      }

      span {
        p {
          margin: 0;
          font-size: var(--font-size-content-secondary);
        }
      }

      p {
        margin: var(--spacing-xs) 0 0 0;
      }
    }

    .border_competence_left {
      position: absolute;
      border-bottom: 10px solid var(--color-secondary);
      border-left: 10px solid var(--color-secondary);
      height: 130%;
      width: 55%;
      top: -15%;
      left: 3%;
      z-index: -2;
    }

    .border_competence_right {
      position: absolute;
      border-bottom: 10px solid var(--color-secondary);
      border-right: 10px solid var(--color-secondary);
      height: 130%;
      width: 55%;
      top: -15%;
      right: 3%;
    }
  }
}

.experience {
  h4 {
    font-size: var(--font-size-h1);
    margin: var(--spacing-md) 0 var(--spacing-xl) 0;
    span {
      color: var(--color-secondary);
    }
  }
}

.apprentissage {
  margin: var(--spacing-xxl) 0 256px 0;
  hr {
    border-top: 9px solid var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary);
    width: 35%;
    margin: 0;
  }

  h3 {
    font-size: var(--font-size-button);
    font-family: var(--font-secondary);
    color: var(--color-quaternary);
    margin: var(--spacing-sm) 0 0 0;
  }

  div {
    margin: var(--spacing-xl) 0 0 0;

    h4 {
      color: var(--color-tertiary-light);
    }
  }

  .center {
    text-align: center;
  }

  .right {
    margin: var(--spacing-lg) 0 0 0;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon {
      color: var(--color-secondary);
      width: 128px;
      height: 128px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .hero_propos_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: var(--spacing-xl) 0 0 0;

    .hero_content {
      width: 100%;
      margin: 0 0 var(--spacing-xl) 0;
      h1 {
        font-size: var(--font-size-h2);
      }
      h2 {
        font-size: var(--font-size-h4);
      }

      .icon {
        display: none;
      }
    }
  }

  .modus {
    margin: var(--spacing-xxl) 0 256px 0;
    hr {
      border-top: 9px solid var(--color-secondary);
      border-bottom: 1px solid var(--color-secondary);
      width: 80%;
      margin: 0;
    }

    h3 {
      font-size: 24px;
      font-family: var(--font-secondary);
      color: var(--color-quaternary);
      margin: var(--spacing-sm) 0 0 0;
    }

    div {
      text-align: left;
      margin: var(--spacing-lg) 0 0 0;

      h4 {
        font-size: 24px;
      }
    }

    .center {
      text-align: left;
    }

    .right {
      margin: var(--spacing-lg) 0 0 0;

      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: flex-start;
      .icon {
        margin: var(--spacing-xl) 0 0 0;
        color: var(--color-secondary);
        width: 128px;
        height: 128px;
      }
    }
  }

  .competences {
    margin: var(--spacing-xxl) 0;
    .cards:nth-child(2) {
      grid-column: 1fr;
      grid-row: repeat (4, 1fr);
      margin: 0 0 180px 0;
      .card_competence {
        order: 2;
        flex-direction: column;
        justify-content: space-around;
        grid-column: span 1;
        grid-row: span 3;
        .icon {
          width: 80px;
          height: 80px;
        }
      }

      .card_texte {
        grid-row: span 1;
      }
    }

    .cards {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      margin: 0 0 180px 0;

      .card_texte {
        grid-column: span 1;

        background: var(--color-quaternary);
        padding: 80px 48px;
      }

      .card_competence {
        color: var(--color-white);
        background: var(--color-tertiary-dark);
      }

      .border_competence_left {
        height: 110%;
        width: 94%;
        top: -5%;
        left: 3%;
        z-index: -2;
      }

      .border_competence_right {
        height: 110%;
        width: 94%;
        top: -5%;
        right: 3%;
      }
    }
  }

  .experience {
    h3 {
      font-size: var(--font-size-h4);
    }

    h4 {
      font-size: var(--font-size-h2);
      margin: var(--spacing-md) 0 var(--spacing-xl) 0;
      span {
        color: var(--color-secondary);
      }
    }
  }

  .apprentissage {
    margin: var(--spacing-xxl) 0 128px 0;
    hr {
      width: 80%;
    }

    h3 {
      font-size: 24px;
    }

    div {
      margin: var(--spacing-lg) 0 0 0;

      h4 {
        font-size: 24px;
      }
    }

    .center {
      text-align: left;
    }

    .right {
      margin: var(--spacing-lg) 0 0 0;
      text-align: left;
      align-items: flex-start;
      flex-direction: column-reverse;

      .icon {
        margin: var(--spacing-lg) 0 0 0;
      }
    }
  }
}

/* À propos - mobile */

@media only screen and (max-width: 375px) {
  .hero_propos_content {
    .hero_media {
      .hero_cadre {
        top: -4%;
        left: 5%;
      }
    }
    .hero_content {
      h1 {
        font-size: var(--font-size-h3);
      }
      h2 {
        font-size: var(--font-size-h5);
      }

      p {
        font-size: 24px;
      }
    }
  }

  .modus {
    margin: var(--spacing-xxl) 0 256px 0;
    hr {
      border-top: 9px solid var(--color-secondary);
      border-bottom: 1px solid var(--color-secondary);
      width: 80%;
      margin: 0;
    }

    h3 {
      font-size: 24px;
      font-family: var(--font-secondary);
      color: var(--color-quaternary);
      margin: var(--spacing-sm) 0 0 0;
    }

    div {
      text-align: left;
      margin: var(--spacing-lg) 0 0 0;

      h4 {
        font-size: 24px;
      }
    }

    .center {
      text-align: left;
    }

    .right {
      margin: var(--spacing-lg) 0 0 0;

      justify-content: center;
      align-items: flex-start;
      h4 {
        text-align: left;
      }
      .icon {
        margin: var(--spacing-xl) 0 0 0;
        color: var(--color-secondary);
        width: 128px;
        height: 128px;
      }
    }
  }

  .competences {
    margin: var(--spacing-xxl) 0;

    .cards {
      .card_texte {
        p {
          font-size: 24px;
        }
      }

      .border_competence_left {
        height: 106%;
        width: 94%;
        top: -3%;
        left: 3%;
        z-index: -2;
      }

      .border_competence_right {
        height: 110%;
        width: 94%;
        top: -5%;
        right: 3%;
      }
    }
  }

  .experience {
    h3 {
      font-size: var(--font-size-h5);
    }

    h4 {
      font-size: var(--font-size-h3);
      margin: var(--spacing-md) 0 var(--spacing-lg) 0;
      span {
        color: var(--color-secondary);
      }
    }
  }

  .apprentissage {
    margin: var(--spacing-xl) 0 128px 0;

    hr {
      width: 80%;
    }

    h3 {
      font-size: 24px;
    }

    div {
      margin: var(--spacing-lg) 0 0 0;

      h4 {
        font-size: 18px;
      }
    }
  }
}

/* Contact */

.contact {
  margin: var(--spacing-xxl) 0;
  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .contact_content {
    hr {
      border-top: 9px solid var(--color-secondary);
      border-bottom: 1px solid var(--color-secondary);
      width: 65%;
      margin: var(--spacing-md) 0 0 0;
    }
    p {
      font-size: var(--font-size-h5);
      color: var(--color-quaternary);
    }
  }

  .contact_type {
    .mail,
    .phone {
      display: flex;
      align-items: center;
      margin: var(--spacing-lg) 0 0 0;
    }

    .icon {
      width: 48px;
      height: 48px;
      margin: 0 var(--spacing-md) 0 0;
      color: var(--color-secondary);
    }

    a {
      font-size: var(--font-size-h5);
      color: var(--color-quaternary);

      &:hover {
        color: var(--color-secondary);
      }
    }

    .button_card {
      a {
        color: var(--color-neutral-dark);
      }
    }
  }
}

.contact_media {
  position: relative;
  .contact_image {
    display: flex;
    background: var(--color-tertiary-dark);
  }
  .contact_cadre {
    position: absolute;
    border: 10px solid var(--color-secondary);
    bottom: 7%;
    left: 7%;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
}

@media only screen and (max-width: 768px) {
  .contact {
    margin: var(--spacing-xl) 0;
    .wrapper {
      display: flex;
      flex-direction: column-reverse;
    }

    .contact_content {
      margin: var(--spacing-lg) 0;
      h1 {
        font-size: var(--font-size-h2);
      }
      hr {
        margin: var(--spacing-sm) 0 0 0;
      }
      p {
        font-size: var(--font-size-h5);
        color: var(--color-quaternary);
      }
    }
  }
}

/* Contact - Mobile */

@media only screen and (max-width: 375px) {
  .contact {
    margin: var(--spacing-xl) 0;
    .wrapper {
      display: flex;
      flex-direction: column-reverse;
    }

    .contact_content {
      margin: var(--spacing-lg) 0;
      h1 {
        font-size: var(--font-size-h4);
      }
      hr {
        margin: var(--spacing-sm) 0 0 0;
      }
      p {
        font-size: 24px;
      }
    }
  }
}
