{% include '_partials/_header.html' %}

<div class="contact">
  <div class="wrapper">
    <div class="contact_content">
      <h1>Contactez-moi</h1>
      <hr />
      <p>
        Et voyons le p’tit bout de chemin que nous pouvons faire vous et moi !
      </p>
      <div class="contact_type">
        <div class="mail">
          <svg class="icon">
            <use xlink:href="#icon-icone_mail"></use>
          </svg>
          <a href="mailto:info@felixvallee.ca">info@felixvallee.ca</a>
        </div>
        <div class="phone">
          <svg class="icon">
            <use xlink:href="#icon-icone_phone"></use>
          </svg>
          <a href="tel:+15145549130">(514) 554-9130</a>
        </div>
        <div class="button_card">
          <a
            href="assets/pdf/2022_Vallee_Felix_CV.pdf"
            class="fill"
            target="_blank"
            >Télécharger mon CV</a
          >
        </div>
      </div>
    </div>

    <div class="contact_media">
      <div class="contact_image">
        <img
          src="assets/images/Image_Felix_Contact.png"
          alt="Image de Félix Vallée"
        />
      </div>
      <div class="contact_cadre"></div>
    </div>
  </div>
</div>

{% include '_partials/_footer.html' %}
