{% include '_partials/_header.html' %}

<div class="hero_accueil">
    <div class="wrapper">
        <div class="hero_content">

            <h1>Félix Vallée</h1>

            <a href=""><h5>Me découvrir</h5></a>
            
            <hr>
            
           <a href=""> <h5>Voir mes projets</h5></a>
            
            <hr>
            
        </div>
        <div class="hero_media">
            <div class="hero_image"></div>
            <div class="hero_cadre"></div>
        </div>
    </div>
</div>

{% include '_partials/_footer.html' %}