{% include '_partials/_preheader.html' %}

<head> 
  <meta charset="utf-8" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta
    name="msapplication-config"
    content="../assets/images/browserconfig.xml"
  />
  <meta name="theme-color" content="#ffffff" />
 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="Trouvez ici mes divers projets réalisé dans le cadre de mon cursus scolaire et bien plus encore !"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="../assets/images/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="../assets/images/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="../assets/images/favicon-16x16.png"
  />
  <link rel="manifest" href="../assets/images/site.webmanifest" />
  <link
    rel="mask-icon"
    href="../assets/images/safari-pinned-tab.svg"
    color="#5bbad5"
  />
  <link rel="shortcut icon" href="../assets/images/favicon.ico" />
  
  <title>Félix Vallée - Mes projets</title>

  <link rel="stylesheet" href="styles/main.css" />

  <script src="scripts/main.js" defer></script>
</head>

{% include '_partials/_header.html' %}

<div class="projets_content">
  <div class="wrapper">
    <div class="projets_title" data-scrolly="fromLeft">
      <h1>Mes projets</h1>
      <hr />
    </div>

    <div class="projets_cards">
      <div class="projets_card_right" data-scrolly="fromLeft">
        <div class="card_left">
          <h2>Vitpilen 701</h2>
          <h3>Design et prototypage d’interface One pager</h3>
          <p>
            Le «one pager» fait la promotion d’un article de la gamme moto
            d’Husqvarna. Je me devais de respecter l’image de marque associé au
            produit et à Husqvarna.
          </p>

          <div class="icone_programme">
            <svg class="icon">
              <use xlink:href="#icon-logo_figma"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="#icon-logo_photoshop"></use>
            </svg>
          </div>

          <div class="button_card">
            <a href="https://www.behance.net/gallery/152567395/Vitpilen-701-Interface-One-pager" target="_blank">Voir sur Behance</a>
            <a href="https://www.figma.com/proto/JakfLoxggHlhX42ugwSydr/1031_Vallee_Felix_TP2?node-id=1100%3A355&scaling=scale-down-width&page-id=87%3A5454&starting-point-node-id=1149%3A287" target="_blank">Voir sur Figma</a>
          </div>
        </div>

        <div class="card_right">
          <picture>
            <source srcset="assets/images/Image_Projet_Vitpilen.webp" type="image/webp">
            <img src="assets/images/Image_Projet_Vitpilen.png" alt="Mockup projet Vitpilen 701"/>
          </picture>
          
        </div>
         <div class="projet_right_border"></div>
      </div>

     

      <div class="projets_card_left" data-scrolly="fromRight">
        <div class="card_left">
          <img src="assets/images/Image_Projet_Carte.png" alt="Design des cartes d'affaire" />
        </div>
        <div class="card_right">
          <h2>Design de Carte d'affaire FLX Design</h2>
          <h3>Animation hybride 2D/3D</h3>
          <p>
            Le projet présente plusieurs alternatives de cartes d’affaires sous
            la forme d’une animation réalisé dans Blender.
          </p>

          <div class="icone_programme">
            <svg class="icon">
              <use xlink:href="#icon-logo_blender"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="#icon-logo_figma"></use>
            </svg>
          </div>

          <div class="button_card">
            <a href="https://www.behance.net/gallery/152568991/Carte-daffaire-FLX-Design-Animation-2D3D" target="_blank">Voir sur Behance</a>
            <a href="https://www.youtube.com/watch?v=SBoVPudga_c" target="_blank">Voir sur Youtube</a>
            
          </div>
          <div class="projet_left_border"></div>
        </div>

        </div>
        
      </div>

      <div class="projets_card_right" data-scrolly="fromLeft">
        <div class="card_left">
          <h2>Entrez dans le rêve</h2>
          <h3>Design d'interface d'application</h3>
          <p>
            Le design se base sur l’image de marque très coloré de l’artiste allemand CRO. L’interface se veut être une application de vente de billets pour les spectacles de l’artiste.
          </p>

          <div class="icone_programme">
           
            <svg class="icon">
              <use xlink:href="#icon-logo_figma"></use>
            </svg>
          </div>

          <div class="button_card">
            <a href="https://www.behance.net/gallery/152568165/Entrez-dans-le-reve-Interface-dapplication" target="_blank">Voir sur Behance</a>
            <a href="https://www.figma.com/proto/uphLhXSUbtSCROG0tK5ako/1012_Vallee_Felix_APPAchatsBillets?node-id=64%3A2&scaling=contain&page-id=0%3A1&starting-point-node-id=64%3A2" target="_blank">Voir sur Figma</a>
          </div>
        </div>

        <div class="card_right">
          <img
            src="assets/images/Image_Projet_Cro.png"
            alt="Mockup projet Entrez dans le rêve"
          />
        </div>
         <div class="projet_right_border"></div>
      </div>

      <div class="projets_card_left" data-scrolly="fromRight">
        <div class="card_left">
          <img src="assets/images/Image_Projet_Recettes.png" alt="Mockup projet Recettes en pot" />
        </div>
        <div class="card_right">
          <h2>Recettes en pot</h2>
          <h3>Refonte graphique d’un site web avec prototypage avancé</h3>
          <p>
            Le projet a été développé à l’aide de personnas, de médias et de requêtes fournies par le client. Le projet est resté dans un cadre académique seulement.
          </p>

          <div class="icone_programme">
            <svg class="icon">
              <use xlink:href="#icon-logo_figma"></use>
            </svg>
          </div>

          <div class="button_card">
            <a href="https://www.behance.net/gallery/152568649/Recettes-en-pot-Refonte-graphique" target="_blank">Voir sur Behance</a>
            <a href="https://www.figma.com/proto/nYxyLDW5o5m92FsMRiH2Qa/TP2---F%C3%A9lix-Vall%C3%A9e?node-id=942%3A395&scaling=scale-down-width&page-id=616%3A397&starting-point-node-id=942%3A395" target="_blank">Voir sur Figma</a>
          </div>
          <div class="projet_left_border"></div>
        </div>

        </div>
        

        <div class="projets_card_right" data-scrolly="fromLeft">
          <div class="card_left">
            <h2>Driveclub</h2>
            <h3>Design d’une interface One pager</h3>
            <p>
              Le design se voulait être sobre tout en respectant l’esthétique de base du jeu vidéo Driveclub. Les couleurs ont été puisées à même l’image pour unifier l’ensemble.            </p>
  
            <div class="icone_programme">
             
              <svg class="icon">
                <use xlink:href="#icon-logo_figma"></use>
              </svg>
            </div>
  
            <div class="button_card">
              <a href="https://www.behance.net/gallery/152424863/Driveclub-Interface-One-Pager" target="_blank">Voir sur Behance</a>

            </div>
          </div>
  
          <div class="card_right">
            <img
              src="assets/images/Image_Projet_Driveclub.png"
              alt="Mockup projet Driveclub"
            />
          </div>
           <div class="projet_right_border"></div>
        </div>
      </div>

      

    </div>
  </div>
</div>

{% include '_partials/_footer.html' %}
