{% include '_partials/_header.html' %}

<div class="projets_content">
  <div class="wrapper">
    <div class="projets_title">
      <h1>Mes projets</h1>
      <hr />
    </div>

    <div class="projets_cards">
      <div class="projets_card_right">
        <div class="card_left">
          <h4>Vitpilen 701</h4>
          <h5>Design et prototypage d’interface One pager</h5>
          <p>
            Le «one pager» fait la promotion d’un article de la gamme moto
            d’Husqvarna. Je me devais de respecter l’image de marque associé au
            produit et à Husqvarna.
          </p>

          <div class="icone_programme">
            <svg class="icon">
              <use xlink:href="#icon-logo_figma"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="#icon-logo_photoshop"></use>
            </svg>
          </div>

          <div class="button_card">
            <a href="">Voir sur Behance</a>
            <a href="">Voir sur Figma</a>
          </div>
        </div>
        <div class="card_right">
          <img src="assets/images/Image_Projet_Vitpilen.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

{% include '_partials/_footer.html' %}
