{% include '_partials/_header.html' %}

<div class="hero_propos">
  <div class="wrapper">
    <div class="hero_propos_content">
      <div class="hero_content">
        <h1>Félix Vallée</h1>
        <h3>Aspirant designer</h3>
        <p>
          Oyé oyé ! Du haut de mes 24 ans, j’aspire à devenir
          <span>designer</span> après 5 ans d’errances collégiales. En jetant
          mon ancre sur les rives du programme
          <span> Techniques d’intégration multimédia</span>, j’ai pu renouer
          avec le Félix <span> curieux, enjoué et déterminé.</span>
        </p>
        <svg class="icon">
          <use xlink:href="#icon-arrow_down"></use>
        </svg>
      </div>
      <div class="hero_media">
        <div class="hero_image">
          <img src="assets/images/Image_Felix_A propos.png" alt="" />
        </div>
        <div class="hero_cadre"></div>
      </div>
    </div>

    <section>
      <div class="modus">
        <hr />
        <p>J’aborde les journées avec 3 modus operandi :</p>
        <div class="left">
          <h4>« Entrain quotidien, pimente le train-train quotidien. »</h4>
        </div>
        <div class="center">
          <h4>« Curiosité inachevée rime avec infinité de possibilités. »</h4>
        </div>
        <div class="right">
          <svg class="icon">
            <use xlink:href="#icon-arrow_down"></use>
          </svg>
          <h4>« Détermination s’associe avant tout à passion. »</h4>
        </div>
      </div>
    </section>

    <section>
      <div class="competences">
        <div class="cards">
          <div class="card_texte">
            Les champs de compétences que j’ai pu développer durant ma formation
          </div>
          <div class="card_competence">
            <svg class="icon">
              <use xlink:href="#icon-icone_design"></use>
            </svg>
            <p>Design</p>
          </div>
          <div class="card_competence">
            <svg class="icon">
              <use xlink:href="#icon-icone_integration"></use>
            </svg>
            <p>intégration HTML/CSS</p>
          </div>
          <div class="card_competence">
            <svg class="icon">
              <use xlink:href="#icon-icone_animation"></use>
            </svg>
            <p>Animation</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{% include '_partials/_footer.html' %}
